<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <!-- Required meta tags -->
            <meta charset="utf-8">

            <!-- avoid viewport dezoom for mobile browser : -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">

            {% block stylesheet %}
            <!-- Bootstrap CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Stylesheet CSS -->
            <link rel="stylesheet" href="./css/style.css"/>
            {% endblock %} 

            <title>{% block title %}{% endblock %} - Blog d'Emilie Schott</title>
            <meta name="description" content="{% block description %}{% endblock %}." /> <!--  No longer than 155 characters. -->

            <!-- Social Media : -->
                <!-- Schema.org markup for Google+ -->
            <meta itemprop="name" content="{% block title %}{% endblock %}">
            <meta itemprop="description" content="{% block description %}{% endblock %}">
            <meta itemprop="image" content="{% block image %}{% endblock %}"> <!-- http://www.example.com/image.jpg --> 

                <!-- Twitter Card data -->
                    <!-- Obligatoire : -->
            <meta name="twitter:card" content="{% block description %}{% endblock %}"> 
                    <!-- Conseillé : -->
            <meta name="twitter:site" content="{% block author %}{% endblock %}"> 
            <meta name="twitter:title" content="{% block title %}{% endblock %}"> 
            <!-- Twitter summary card with large image must be at least 280x200px -->
            <meta name="twitter:image" content="{% block image %}{% endblock %}"> <!-- http://www.example.com/image.jpg --> 

                <!-- Facebook : Open Graph data -->
                    <!-- Obligatoire : -->
            <meta property="og:title" content="{% block title %}{% endblock %}" /> 
            <meta property="og:type" content="{% block type %}{% endblock %}" /> <!-- article ou website -->
            <meta property="og:url" content="{% block url %}{% endblock %}" /> <!-- http://www.example.com/ --> 
            <meta property="og:image" content="{% block image %}{% endblock %}" /> <!-- http://www.example.com/image.jpg --> 
            <meta property="og:description" content="{% block description %}{% endblock %}" /> 

            <!-- Déclarer les google fonts : (les appelle dans le CSS ensuite avec font-family) -->
            <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        {% endblock %}
    </head>
    <body>
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>