{% extends "base.html.twig" %}

{% block stylesheet %}{% endblock %}
{% block title %}Accueil{% endblock %}
{% block description %}{% endblock %}
{% block image %}http://www.example.com/image.jpg{% endblock %}
{% block type %}article ou website{% endblock %}
{% block url %}http://www.example.com/{% endblock %}
{% block author %}{% endblock %}

{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h1>Accueil</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}