{% extends "base.twig" %}

{% block stylesheet %}
    <link href="public/theme/css/style.css" rel="stylesheet">
{% endblock %} 
{% block title %}Accueil{% endblock %}
{% block description %}
    Si vous souhaitez en apprendre plus sur l'autrice de ce blog, vous trouverez tout ce qu'il vous faut sur cette page.
{% endblock %}
{% block image %}http://www.example.com/image.jpg{% endblock %}
{% block type %}website{% endblock %}
{% block url %}http://www.example.com/{% endblock %}
{% block author %}Emilie Schott{% endblock %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="public/theme/img/Emilie S.jpg" alt="">
                <div class="intro-text col-11 text-center bg-faded mx-auto left-md-0 p-3 p-md-4 p-lg-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Développeuse de solutions</span>
                        <span class="section-heading-lower">Emilie Schott</span>
                    </h2>
                    <p class="mb-3">Accessible par tous, tout le temps et avec facilité, le web est créateur de lien entre les gens tout autour du monde. 
                        <br><br>
                        C’est une ressource formidable, un outil puissant, qui rendra les fonctionnalités dont vous avez besoin pour vos projets disponibles où que vous, ou vos collaborateurs, soyez.
                        Si vous avez un projet, le web peut lui apporter sa solution.
                        <br><br>
                        C’est cette conviction qui m'a poussée à me spécialiser dans le développement web, et si vous aussi vous partagez cette vision, peut être serons-nous amenés à travailler ensemble, qui sait ?
                    </p>
                    <div class="intro-button">
                        <a class="btn btn-primary cv-button btn-xl" href="#">Télécharger mon CV</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="page-section contact clearfix">
        <div class="container">
            <div class="contact-b">
                <div class="contact-inner text-center p-3 p-md-4 p-lg-5 rounded">

                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Me</span>
                        <span class="section-heading-lower">contacter</span>
                    </h2>

                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="form-group col-xl-6 mx-auto col-xs-12 floating-label-form-group controls">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Name</label>
                                    <input type="text" class="form-control" placeholder="Nom" id="name" required data-validation-required-message="Entrez votre nom, s'il vous plait.">
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group floating-label-form-group controls">
                                    <label>Phone Number</label>
                                    <input type="text" class="form-control" placeholder="Prénom" id="phone" required data-validation-required-message="Entrez votre prénom, s'il vous plait.">
                                    <p class="help-block text-danger"></p>
                                </div>

                                <div class="form-group floating-label-form-group controls">
                                    <label>Email Address</label>
                                    <input type="email" class="form-control" placeholder="Addresse Email" id="email" required data-validation-required-message="Entrez votre email, s'il vous plait.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>

                            <div class="form-group col-xl-6 mx-auto col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Tapez un message, s'il vous plait."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>    

                        <div id="success">
                            <button type="submit" class="btn btn-primary btn-xl">Envoyer</button>
                        </div>            
                    </form>
                </div>






            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}